<h1>Football Stats</h1>

<table>
  <tr>
    <th>Rank</th>
    <th>Player</th>
  </tr>
  {{#each tophundred}}
  <tr>
    <td>{{this.id}}</td>
    <td>{{this.player}}</td>
  </tr>
  {{/each}}
</table>


{{#each runningbacks}}
 <p>{{this.player}}</p>
 <p>{{this.team}}</p>
 <p>{{this.rushydsgm}}</p>
 <p>{{this.attgm}}</p>
 <p>{{this.rushatt}}</p>
 <p>{{this.rushyds}}</p>
 <p>{{this.rushtds}}</p>
 <p>{{this.rec}}</p>
 <p>{{this.recyds}}</p>
 <p>{{this.rectds}}</p>
 <p>{{this.games}}</p>
{{/each}}
    
   
  




  

